---
layout: default
---

<div class="container mt">
    <div class="row">

        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">  
        <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>

        <!-- Jumbotron -->
        <div id="jumbotron" class="jumbotron">
           <div class="container">
                <h1 class="lobster-font">{{ page.title }}</h1>
                {% if page.contact %}
                <p><a class="btn btn-lg btn-theme" href="{{ page.base }}" role="button">Learn more</a></p>
                {% else %}
                <p><a class="btn btn-lg btn-theme" href="{{ site.baseurl }}" role="button">Back</a></p>
                {% endif %}


            </div>
        </div>

        <div style="margin-top:25px" class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            <h4>{{ page.title }}</h4>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Registry Details</h4>
            <div style="padding-bottom:20px" class="hline"></div>
            <p><b>Date:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>Admin:</b> {{ page.author }}</p>
            <p><b>Categories:</b> {{ page.categories }}</p>
            <p><b>Tagged:</b> {{ page.tagged }}</p>
            <p><b>Institution:</b> {{ page.institution }}</p>
        </div>
    </div><! --/row -->
</div><! --/container -->
	 
{% include portfolio.html limit=5 %}
